<h2>Add word</h2>

<form [formGroup]="form">
  <input formControlName="original" type="text" [placeholder]="language()" />
  <input formControlName="translation" type="text" placeholder="Translation" />
  <textarea formControlName="story" placeholder="Story..."></textarea>
  <button mat-raised-button [disabled]="form.invalid" (click)="add()">
    Add
  </button>
</form>
