<mat-drawer-container color="accent" class="container" [hasBackdrop]="true">
  <mat-drawer #drawer color="accent" class="drawer" mode="side" opened="true">
    <mat-list role="list">
      <mat-list-item role="listitem" (click)="onClose()">
        <a routerLink="list-words">Words</a></mat-list-item
      >
      <mat-list-item role="listitem" (click)="onClose()">
        <a routerLink="add-word">Add Word</a></mat-list-item
      >
      <mat-list-item role="listitem" (click)="onClose()">
        <a routerLink="flashcards">Flashcards</a></mat-list-item
      >
      <mat-list-item role="listitem" (click)="onClose()">
        <a routerLink="dialogs">Dialogs</a></mat-list-item
      >
      <mat-list-item role="listitem" (click)="onClose()">
        <a routerLink="add-dialog">Add dialog</a></mat-list-item
      >
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
