:host {
  width: 100%;
  height: 100%;
  max-width: 500px;
  position: absolute;
  top: var(--header-height);
  left: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.drawer {
  width: 100%;
  height: 100%;
}

mat-list {
  z-index: 1000;
}

.list-item {
  display: flex;
  z-index: 1000;
}
