:host {
  grid-area: header;
}

mat-toolbar {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
  margin: 0;
}

nav {
  display: none;
}

.left-side {
  display: flex;
  align-items: center;
}

@media (min-width: 1028px) {
  .hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
    column-gap: 1rem;
  }
}
