<header>
  <mat-toolbar color="primary">
    <div class="container">
      <div class="left-side">
        <button
          mat-icon-button
          class="hamburger-icon"
          (click)="toggleHamburgerMenu()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/"
          ><h1>Learn {{ language() }}</h1></a
        >
      </div>
      @if (isSignedIn()) {
      <nav class="navbar">
        <li>
          <a routerLink="list-words">Words</a>
        </li>
        <li>
          <a routerLink="add-word">Add</a>
        </li>
        <li>
          <a routerLink="flashcards">Flashcards</a>
        </li>
        <li>
          <a routerLink="dialogs">Dialogs</a>
        </li>
        <li>
          <a routerLink="add-dialog">Add dialog</a>
        </li>
      </nav>
      }
      <div>
        @if (isSignedIn()) {
        <button mat-button [matMenuTriggerFor]="languageMenu">Language</button>
        <mat-menu #languageMenu="matMenu">
          <button mat-menu-item (click)="selectLanguage('russian')">
            Russian
          </button>
          <button mat-menu-item (click)="selectLanguage('ukrainian')">
            Ukrainian
          </button>
        </mat-menu>
        <button mat-button (click)="signOut()">Sign out</button>
        } @else {
        <a routerLink="sign-in">Sign in</a>
        }
      </div>
    </div>
  </mat-toolbar>
  @if (showHamburgerMenu) {
  <app-hamburger-menu (close)="toggleHamburgerMenu()" />
  }
</header>
