<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Open more options"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  @if (showOriginal) {
  <button mat-menu-item (click)="onToggleOriginal()">Show english</button>
  } @else {
  <button mat-menu-item (click)="onToggleOriginal()">
    Show {{ language() }}
  </button>
  } @if (showOriginal && !showTranslations) {
  <button mat-menu-item (click)="onToggleTranslations()">
    Show translations
  </button>
  } @else if (showOriginal && showTranslations) {
  <button mat-menu-item (click)="onToggleTranslations()">
    Hide translations
  </button>
  }
  <button (click)="onToggleEditMode()" mat-menu-item>Toggle edit</button>
</mat-menu>
