<h2>Add dialog</h2>

<form [formGroup]="form">
  <input name="title" formControlName="title" placeholder="Title" />
  <textarea
    name="original"
    formControlName="original"
    placeholder="Original"
  ></textarea>
  <textarea
    name="translation"
    formControlName="translation"
    placeholder="Translation"
  ></textarea>
  <textarea
    name="info"
    formControlName="info"
    placeholder="More info"
  ></textarea>
  <button mat-raised-button (click)="add()">Add</button>
</form>
