:host {
  width: 100%;
  max-width: 300px;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  input,
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
