<h2>Flashcards</h2>

@if (currentCard) {
<div class="flashcard-container">
  <div>
    @if (currentCard.currentSide === flashcardSide.Front) {
    <h3>{{ currentCard.guessWord }}</h3>
    } @else {
    <h3>{{ currentCard.solutionWord }}</h3>
    <p>{{ currentCard.story }}</p>
    }
  </div>
  <div class="buttons">
    <button mat-button (click)="onTurnAround()">Turn around</button>
    <button mat-button (click)="onNext()">Next</button>
  </div>
</div>
} @else {
<button mat-button (click)="onStart('english')">Start test (English)</button>
<button mat-button (click)="onStart('original')">
  Start test ({{ language() }})
</button>
}
