<h2>Sign in</h2>

<form [formGroup]="form">
  <input name="email" formControlName="email" type="email" placeholder="E-mail" />
  <input name="password" formControlName="password" type="password" placeholder="Password" />
  <button mat-raised-button (click)="onSubmit()">Sign in</button>
</form>
