:host {
  display: grid;
  align-content: space-between;
  grid-template-rows: var(--header-height) 1fr auto;
  grid-template-areas:
    "header header header header"
    "main   main   main   main"
    "footer footer footer footer";
  min-height: 100vh;
}

main {
  display: grid;
  place-items: start center;
  align-content: start;
  width: 100%;
  grid-area: main;
  padding: 3rem 0;
}
