:host {
  grid-area: footer;
}

footer {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
}

.container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
  padding: 0 2rem;
  margin: 0;
}
