<h1 mat-dialog-title>{{ data.dialog.title }}</h1>
<div mat-dialog-content>
  <p>{{ data.dialog.original }}</p>
  <p>{{ data.dialog.translation }}</p>
  <p>{{ data.dialog.info }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
