<h2>Dialogs</h2>

<mat-list>
  @for (dialog of dialogs(); track dialog.id) {
  <mat-list-item class="item" (click)="openDialog(dialog)">
    <span matListItemTitle>{{ dialog.title }}</span>
    <span matListItemLine> {{ dialog.original.slice(0, 20) }}... </span>
  </mat-list-item>
  }
</mat-list>
